:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
}

.row {
  display: flex;
}

.cell {
  width: 64px;
  height: 64px;
}

.black {
  background-color: #194379;
}

.white {
  background-color: #b3b3d3;
}
